  html {
    min-height: 100%;
    width: 100%;
  }
  
  body {
    width: 960px;
    background-color: #777;
    color: #777;
    font: 18px "arial, helvetica neue, helvetica, sans-serif";
    text-align: center;
  }

  header,
  nav,
  section,
  aside,
  footer {
    margin: 0 1.5% 24px 1.5%;
    background: #ebebeb;
  }

  section {
    width: 495px;
  }
  
  article {
    color: #ebebeb;
    background-color: #777;
    float: left;
  }

  aside {
    float: right;
    width: 30%;
  }

  h1, p {
    Color: #ebebeb;
    background-color: #777;
  }

  footer {
    clear: both;
    margin-bottom: 0;
  }
