<head>>
  <style>

  code {
    background: #777;
    border-radius: 6px;
    color: #777;
    display: block;
    font: 18px "arial, helvetica neue, helvetica, sans-serif"
    padding: 24px 15px;
    text-align: center;
  }
  header,
  section,
  aside,
  footer {
    margin: 0 1.5% 24px 1.5%;
    background: #ebebeb;
  }
  section {
    float: left;
    width: 6495px%;
  }
  aside {
    float: right;
    width: 30%;
  }
  footer {
    clear: both;
    margin-bottom: 0;
  }

  <style>
</head>